---
const navItems = [
  { href: '/', text: 'Home' },
  { href: '/blog', text: 'Blog' },
  { href: '/portfolio', text: 'Portfolio' },
  { href: '/about', text: 'About' },
  { href: '/contact', text: 'Contact' },
];
---

<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div class="flex items-center py-4 px-2">
          <span class="font-semibold text-gray-500 text-lg">Visual Story</span>
        </div>
        <div class="hidden md:flex items-center space-x-1">
          {
            navItems.map((item) => (
              <a
                href={item.href}
                class="py-4 px-2 text-gray-500 hover:text-gray-900 transition duration-300"
              >
                {item.text}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</nav>